
Language/.vs/Language/xs/UserPrefs.xml
Language/S-Sharp/obj/Debug/netcoreapp3.1/S-Sharp.csprojAssemblyReference.cache
Language/S-Sharp/original.py
Language/S-Sharp/lexer.py
Language/S-Sharp/lexer.py
Language/.vs/Language/xs/UserPrefs.xml
*.cache
